<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/extra_2/src/com/techlabs/extra_2/ExceptionHandle.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.techlabs.extra_2.ExceptionHandle"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="extra_2"/>
</launchConfiguration>
